{% extends "pages/base.html" %}
 {% block title %}Trung tâm giáo dục ngoại ngữ, tin học HITECH {% endblock title %}
{% block content %}
    {% load static %}
    <div style="width: 100%; min-height: calc(100vh - 140px); background-color: white; align-items:center;">
        
        <h2>TRUNG TÂM GIÁO DỤC NGOẠI NGỮ, TIN HỌC HITECH</H2>
        
        <p>Địa chỉ: 475A Điện Biên Phủ, phường 25, quận Bình Thạnh, TP.HCM</p>
        <p>Email: HLminhdinh@gmail.com</p>
        <p>Số điện thoại: 000000000</p>
    </div>

{% endblock content %}